.navi ul {
    /*style im navigationsmenü */
    display: flex;
    justify-content: center;
    justify-content: space-around;
    list-style-type: none;
    background-color: burlywood;
}

.navi ul li {
    font-size: 1.5em;
    font-family: monospace;
    padding: 0.5em;
}

.navi ul li:hover {
    background-color: grey;
}

.navi ul li a {
    text-decoration: none;
    color: black;
    padding: 0.5em 0;
}

@media (max-width: 480px) {
    .navi ul {
        flex-direction: column;
    }
}

@media (min-width: 480px) {
    .navu ul {
        flex-direction: row;
    }
}