

.navi ul {
    /*style im navigationsmenü */
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    list-style-type: none;
    background-color: burlywood;
}

.navi ul li {
    font-size: 1.5em;
    font-family: monospace;
}

.navi ul li:hover {
    background-color: grey;
}

.navi ul li a {
    text-decoration: none;
    color: color;
}

@media screen and (max-width: 480px){
    .navi ul{
        display: flex;
        flex-direction: column;
    }
}