header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
header figure img{
    width: 33%;
    
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    list-style-type: none;
    }
nav ul li{
    font-size: 2em;
    font-style: italic;
}

body {
    text-align: center;
}

.centered h1 {
    font-size: 5em;
    color: tomato;
    text-shadow: 10px 10px 2px #909090;
}

.centered {
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}