#profil {
    /*div element auf profilseite*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#profil ul {
    font-size: larger;
    list-style-type: none;
}

body {
    background-color: moccasin;
    margin-bottom: 100px;
    /* Fix Footer verdeckt Body */
}

form {
    /*style im navigationsmenü */
    display: flex;
    flex-direction: column;
}

form ul {
    list-style-type: none;
    padding-left: 0px;
}

tr:hover {
    background-color: grey;
}

#errorpage {
    text-align: center;
}

#tabelle {
    border-collapse: collapse;
    font-size: 1.5em;
}

#tabelle,
th,
td {
    border: 1px solid black;
}

input[type="email"], input[type="password"], input[type="text"], input[type="number"] {
    margin: 4px;
    padding: 0.5em;
    font-size: medium;
}

button, input[type="submit"] {
    background-color: coral;
    padding: 1em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    color: white;
    display: inline-block;
}

button:hover, input[type="submit"]:hover {
    background-color: rgb(197, 98, 62);
}