#profil {
    /*div element auf profilseite*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#profil ul {
    font-size: larger;
    list-style-type: none;
}

body {
    background-color: moccasin;
    margin-bottom: 100px;
    /* Fix Footer verdeckt Body */
}

form {
    /*style im navigationsmenü */
    display: flex;
    flex-direction: column;
}

form ul {
    list-style-type: none;
    padding-left: 0px;
}

tr:hover {
    background-color: grey;
}

#errorpage {
    text-align: center;
}

#tabelle {
    border-collapse: collapse;
    font-size: 1.5em;
}

#tabelle,
th,
td {
    border: 1px solid black;
}