<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${status}">FATAL ERROR!</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body id="errorpage">

    <header>
        <figure>
            <a class="logo" href="landing.html">
                <img src="images/UmbrellaTours.png" alt="Umbrella-Logo">
            </a>
        </figure>
        <h1 class="siteName">Schade</h1>
    </header>
    <nav class="navi">
        <h2>Navigationsmenü</h2>
        <ul>
            <li><a href="landing.html">Startseite</a></li>
            <li><a href="login.html">Einloggen</a></li>
            <li><a href="profil.html">Profilseite</a></li>
        </ul>
    </nav>

    <figure>
        <img src="images/404.jpg" alt="Error-Bild">
    </figure>

    <div class="centered">
        <h1 th:text="${status}">FATAL ERROR!</h1>
        <h2 th:text="${error}">Not found</h2>
    </div>
</body>

</html>