<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${status}">FATAL ERROR!</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            text-align: center;
        }

        h1 {
            font-size: 5em;
            color: tomato;
            text-shadow: 10px 10px 2px #909090;
        }

        .centered {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    </style>
</head>

<body>

    <figure>
        <img src= "../public/images/404.jpg" alt="Error-Bild">
    </figure>

    <div class="centered">
        <h1 th:text="${status}">FATAL ERROR!</h1>
        <h2 th:text="${error}">Not found</h2>
    </div>
</body>

</html>