<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Willkommen</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>

  <body>
    <div id="header">
      <header th:insert="header :: myheader"></header>
      <h1 class="siteName">Willkommen bei Umbrella-Tours</h1>
    </div>

    <nav class="navi" th:insert="nav :: mynav"></nav>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae optio
      inventore quam ratione laboriosam neque, fugiat minus earum nostrum natus
      odit, et provident tempora impedit? Nam voluptate illum laboriosam odit.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae sequi
      provident rerum repellendus eos vel dolorem quod magni, eveniet suscipit
      obcaecati et reprehenderit cum vero sunt, tempora excepturi aliquam
      assumenda. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Voluptas, veritatis aliquid excepturi unde laboriosam, fuga culpa libero
      earum in error laudantium officiis necessitatibus, vel distinctio quaerat
      dolores debitis doloremque ducimus. Lorem, ipsum dolor sit amet
      consectetur adipisicing elit. Aspernatur facere id voluptas delectus
      molestiae. Molestiae, soluta, ipsa at ut culpa quam laborum neque error
      pariatur maiores, nihil ratione quia obcaecati? Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Non modi sit quia fugiat praesentium
      voluptate molestias quis mollitia quod, fuga deleniti ex, ipsa eveniet
      labore? Impedit laudantium dolor dicta officia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae optio
      inventore quam ratione laboriosam neque, fugiat minus earum nostrum natus
      odit, et provident tempora impedit? Nam voluptate illum laboriosam odit.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae sequi
      provident rerum repellendus eos vel dolorem quod magni, eveniet suscipit
      obcaecati et reprehenderit cum vero sunt, tempora excepturi aliquam
      assumenda. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Voluptas, veritatis aliquid excepturi unde laboriosam, fuga culpa libero
      earum in error laudantium officiis necessitatibus, vel distinctio quaerat
      dolores debitis doloremque ducimus. Lorem, ipsum dolor sit amet
      consectetur adipisicing elit. Aspernatur facere id voluptas delectus
      molestiae. Molestiae, soluta, ipsa at ut culpa quam laborum neque error
      pariatur maiores, nihil ratione quia obcaecati? Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Non modi sit quia fugiat praesentium
      voluptate molestias quis mollitia quod, fuga deleniti ex, ipsa eveniet
      labore? Impedit laudantium dolor dicta officia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae optio
      inventore quam ratione laboriosam neque, fugiat minus earum nostrum natus
      odit, et provident tempora impedit? Nam voluptate illum laboriosam odit.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae sequi
      provident rerum repellendus eos vel dolorem quod magni, eveniet suscipit
      obcaecati et reprehenderit cum vero sunt, tempora excepturi aliquam
      assumenda. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Voluptas, veritatis aliquid excepturi unde laboriosam, fuga culpa libero
      earum in error laudantium officiis necessitatibus, vel distinctio quaerat
      dolores debitis doloremque ducimus. Lorem, ipsum dolor sit amet
      consectetur adipisicing elit. Aspernatur facere id voluptas delectus
      molestiae. Molestiae, soluta, ipsa at ut culpa quam laborum neque error
      pariatur maiores, nihil ratione quia obcaecati? Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Non modi sit quia fugiat praesentium
      voluptate molestias quis mollitia quod, fuga deleniti ex, ipsa eveniet
      labore? Impedit laudantium dolor dicta officia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae optio
      inventore quam ratione laboriosam neque, fugiat minus earum nostrum natus
      odit, et provident tempora impedit? Nam voluptate illum laboriosam odit.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae sequi
      provident rerum repellendus eos vel dolorem quod magni, eveniet suscipit
      obcaecati et reprehenderit cum vero sunt, tempora excepturi aliquam
      assumenda. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Voluptas, veritatis aliquid excepturi unde laboriosam, fuga culpa libero
      earum in error laudantium officiis necessitatibus, vel distinctio quaerat
      dolores debitis doloremque ducimus. Lorem, ipsum dolor sit amet
      consectetur adipisicing elit. Aspernatur facere id voluptas delectus
      molestiae. Molestiae, soluta, ipsa at ut culpa quam laborum neque error
      pariatur maiores, nihil ratione quia obcaecati? Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Non modi sit quia fugiat praesentium
      voluptate molestias quis mollitia quod, fuga deleniti ex, ipsa eveniet
      labore? Impedit laudantium dolor dicta officia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae optio
      inventore quam ratione laboriosam neque, fugiat minus earum nostrum natus
      odit, et provident tempora impedit? Nam voluptate illum laboriosam odit.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae sequi
      provident rerum repellendus eos vel dolorem quod magni, eveniet suscipit
      obcaecati et reprehenderit cum vero sunt, tempora excepturi aliquam
      assumenda. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Voluptas, veritatis aliquid excepturi unde laboriosam, fuga culpa libero
      earum in error laudantium officiis necessitatibus, vel distinctio quaerat
      dolores debitis doloremque ducimus. Lorem, ipsum dolor sit amet
      consectetur adipisicing elit. Aspernatur facere id voluptas delectus
      molestiae. Molestiae, soluta, ipsa at ut culpa quam laborum neque error
      pariatur maiores, nihil ratione quia obcaecati? Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Non modi sit quia fugiat praesentium
      voluptate molestias quis mollitia quod, fuga deleniti ex, ipsa eveniet
      labore? Impedit laudantium dolor dicta officia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae optio
      inventore quam ratione laboriosam neque, fugiat minus earum nostrum natus
      odit, et provident tempora impedit? Nam voluptate illum laboriosam odit.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae sequi
      provident rerum repellendus eos vel dolorem quod magni, eveniet suscipit
      obcaecati et reprehenderit cum vero sunt, tempora excepturi aliquam
      assumenda. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Voluptas, veritatis aliquid excepturi unde laboriosam, fuga culpa libero
      earum in error laudantium officiis necessitatibus, vel distinctio quaerat
      dolores debitis doloremque ducimus. Lorem, ipsum dolor sit amet
      consectetur adipisicing elit. Aspernatur facere id voluptas delectus
      molestiae. Molestiae, soluta, ipsa at ut culpa quam laborum neque error
      pariatur maiores, nihil ratione quia obcaecati? Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Non modi sit quia fugiat praesentium
      voluptate molestias quis mollitia quod, fuga deleniti ex, ipsa eveniet
      labore? Impedit laudantium dolor dicta officia.
    </p>

    <footer th:insert="footer :: myFooter"></footer>
  </body>
</html>
