<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Willkommen</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <!--Slick ist für die Slideshow zuständig-->
    <link rel="stylesheet" type="text/css" href="slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css" />
</head>

<body>
    <div id="header">
        <header th:insert="header :: myheader"></header>
        <h1 class="siteName">Willkommen bei Umbrella-Tours</h1>
    </div>

    <nav class="navi" th:insert="nav :: mynav"></nav>


    <div class="Slideshow">
        <div><img src="images/paris.jpg" alt="Paris" height="720px"></div>
        <div><img src="images/england.jpg" alt="England" height="720px"></div>
        <div><img src="images/strand.jpg" alt="Strand" height="720px"></div>
    </div>

    <footer th:insert="footer :: myFooter"></footer>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="slick/slick.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>

</html>