<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/nav.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <title>Einloggen</title>
</head>

<body>
    <div id="header">
        <header th:insert="header :: myheader"></header>
        <h1 class="siteName">Einloggen</h1>
    </div>

    <nav class="navi" th:insert="nav :: mynav">
    </nav>

    <main>
        <h1 th:text="'Hallo ' + ${#httpServletRequest.remoteUser}">Willkommen, unbekannter Nutzer!</h1>
        <p>Bitte Anmeldedaten eingeben...</p>
        <p>Noch kein User? <a href="registration">Registrieren</a></p>

        <form th:action="@{/login.html}" method="post">
            <ul>
                <li><label for="username"> Email: <input type="email" name="username"/> </label></li>
                <li><label for="password"> Password: <input type="password" name="password"/> </label></li>
                <li><input type="submit" value="Sign In" /></li>
            </ul>
        </form>
    </main>

    <footer>
        <div th:insert="footer :: myFooter"></div>
    </footer>
</body>

</html>