<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Profil</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/nav.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
</head>

<body>

    <div id="header">
        <header th:insert="header :: myheader">
        </header>
        <h1 class="siteName">Profil</h1>
    </div>

    <nav class="navi" th:insert="nav :: mynav">
    </nav>

    <!--Dynamisch Profilname-->
    <div id="profil">
        <h2>Profildaten</h2>
        <ul>
            <li th:text="|Email: ${user.email}|"></li>
            <li th:text="|Vorname: ${user.vorname}|">Vorname: </li>
            <li th:text="|Nachname: ${user.nachname}|">Nachname: </li>
            <li th:text="|Kundennummer: ${user.kundennummer}|">Kundennummer: </li>
        </ul>
        <h2><a href="urlaubsprofil">Urlaubsprofil</a></h2>

    </div>

    <footer th:insert="footer :: myFooter">
    </footer>
</body>

</html>