<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Profil</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>

    <div id="header">
        <header th:insert="header :: myheader">
        </header>
        <h1 class="siteName">Profil</h1>
    </div>

    <nav class="navi" th:insert="nav :: mynav">
    </nav>

    <!--Dynamisch Profilname-->
    <div class="profil">
        <h1 th:text="${user.email}"></h1>
        <ul>
            <li><a class="profil-navi" href="urlaubsprofil">Urlaubsprofil</a></li>
            <!-- liste mit aktuellen Buchungen-->
            <li><a class="profil-navi" href="">Profil-Daten</a></li>
            <!-- Daten zum Kunden(email, zahlungsart, etc)-->
        </ul>
    </div>

    <footer th:insert="footer :: myFooter">
    </footer>
</body>

</html>