<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/nav.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <title>Registration</title>
</head>

<body>
    <div id="header">
        <header th:insert="header :: myheader"></header>
        <h1 class="siteName">User-Registration</h1>
    </div>

    <nav class="navi" th:insert="nav :: mynav"></nav>

    <form action="#" th:action="@{/registration}" th:object="${user}" method="post">
        <fieldset>
            <legend>Userdaten erfassen</legend>
            <div class="req">
                <label for="email">Email</label>
                <input name="email" id="email" type="email" th:field="*{email}" />
            </div>
            <div class="req">
                <label for="vorname">Vorname</label>
                <input name="vorname" id="vorname" type="text" th:field="*{vorname}" />
            </div>
            <div class="req">
                <label for="nachname">Nachname</label>
                <input name="nachname" id="nachname" type="text" th:field="*{nachname}" />
            </div>
            <div class="req">
                <label for="password">Passwort</label>
                <input name="password" id="password" type="password" th:field="*{password}" />
            </div>
        </fieldset>
        <div><input type="submit" value="User anlegen" /></div>
    </form>



    <footer th:insert="footer :: myFooter"></footer>
</body>

</html>