<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Buchung</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>

    <div id="header">
        <header th:insert="header :: myheader">
        </header>
        <h1 class="siteName">Buchen</h1>
    </div>
    <nav class="navi" th:insert="nav :: mynav">
    </nav>

    <h2>Reisen</h2>
    <table id="tabelle">
        <thead>
            <tr>
                <th>ID</th>
                <th>Titel</th>
                <th>Beschreibung</th>
                <th>Ort</th>
                <th>Preis</th>
                <th>Bewertung</th>
                <!--<th>Löschen</th>-->
            </tr>
        </thead>
        <tbody>
            <tr th:each="reise : ${reisen}">
                <td th:text="${reise.ID}"></td>
                <td th:text="${reise.titel}"></td>
                <td th:text="${reise.beschreibung}"></td>
                <td th:text="${reise.ort}"></td>
                <td th:text="${reise.preis}"></td>
                <td th:text="${reise.bewertung}"></td>
            </tr>
        </tbody>
    </table>

    <footer th:insert="footer :: myFooter">
    </footer>
</body>

</html>