<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <title>Urlaubsprofil</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">

</head>

<body>

    <div id="header">
        <header th:insert="header :: myheader">
        </header>
        <h1 class="siteName">Urlaubsprofil</h1>
    </div>

    <nav class="navi" th:insert="nav :: mynav">
    </nav>

    <div th:switch="${reisen}">
        <h2 th:case="null">No journeys yet!</h2>
        <div th:case="*">
            <h2>Reisen</h2>
            <table id="tabelle">
                <thead>
                    <tr>
                        <th>Ziel</th>
                        <th>Unterkunft</th>
                        <th>Von</th>
                        <th>Bis</th>
                        <!--<th>Löschen</th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="reise : ${reisen}">
                        <td th:text="${reise.ort}"></td>
                        <td th:text="${reise.unterkunft}"></td>
                        <td th:text="${reise.beginn}"></td>
                        <td th:text="${reise.ende}"></td>
                        <td>
                            <form method="POST">
                                Bewertung eingeben:
                                <input type="number" min="0" max="5"><br>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <footer th:insert="footer :: myFooter">
    </footer>
</body>

</html>